* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

img {
    width: 100%;
    margin: 1rem;
}


@media screen and (min-width: 576px) {
    img {
        width: 50%;
    }
}

@media screen and (min-width: 1024px) {
    img {
        width: 33%;
    }
}


